/*
    Project: Catch & Run
    Date: 08/14/2017
    Author: Nicolas M. Pardo
*/
@-ms-viewport {
  width: device-width;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:visited:hover,
a:focus:hover {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: sans-serif;
  font-size: 1em;
  width: 100%;
  max-width: 100vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  object-fit: contain;
}
html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: url("../img/background_3.png");
  background-size: 80px 80px;
  background-repeat: repeat;
  overflow: hidden;
}
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'doomregular', sans-serif;
  color: #9c1b00;
  text-shadow: 1px 2px 0 #000;
}
button {
  border: 0;
  border-radius: 10px;
  position: relative;
  background: url("../img/button_bg.png");
  box-shadow: inset 2px 2px transparent, 2px 2px 0 1px #10210b;
}
button::after {
  content: '';
  padding-bottom: 100%;
  display: block;
}
button > * {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #10210b;
  opacity: 0.9;
}
button:hover {
  box-shadow: inset 2px 2px #10210b, 2px 2px 0 1px transparent;
  cursor: pointer;
  filter: brightness(0.7);
}
button:hover > * {
  opacity: 1;
  color: #9c1b00;
}
#CanvasContainer {
  width: 100%;
  height: 100%;
}
#CanvasContainer canvas {
  background: transparent;
  position: absolute;
  top: 64px;
  left: 64px;
}
.corner {
  width: 64px;
  height: 64px;
  position: absolute;
}
.corner:nth-of-type(1) {
  top: 0;
  left: 0;
}
.corner:nth-of-type(2) {
  top: 0;
  right: 0;
}
.corner:nth-of-type(3) {
  bottom: 0;
  left: 0;
}
.corner:nth-of-type(4) {
  bottom: 0;
  right: 0;
}
.top {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  bottom: unset;
  right: unset;
  z-index: 2;
  text-align: center;
  margin: auto;
}
.top img {
  width: 112px;
  height: auto;
  object-fit: contain;
}
.border {
  position: absolute;
  background: #808080;
  text-align: center;
}
.border:nth-of-type(even) {
  width: 64px;
  height: 100%;
  top: 0;
}
.border:nth-of-type(odd) {
  height: 64px;
  width: 100%;
  left: 0;
}
.border:nth-of-type(1) {
  background: url("../img/border-top.png");
  top: 0;
}
.border:nth-of-type(2) {
  background: url("../img/border-right.png");
  right: 0;
  background-position: center right;
}
.border:nth-of-type(3) {
  background: url("../img/border-bottom.png");
  bottom: 0;
}
.border:nth-of-type(4) {
  background: url("../img/border-left.png");
  left: 0;
}
.border .panel {
  width: calc(100% - 140px);
  height: 80%;
  background: url("../img/panel.png");
  margin: auto;
  margin-top: 6px;
  position: relative;
  z-index: 2;
}
.border .panel > figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.border .panel > figure #PlayerStatus {
  position: relative;
  z-index: 3;
  left: 2px;
}
.border .panel > figure #PowerActive {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 0;
  height: 70%;
}
.border .panel > div {
  width: 50%;
  position: absolute;
  top: 0;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}
.border .panel > div.left {
  left: 0;
  text-align: left;
  font-size: 1.5rem;
}
.border .panel > div.left img {
  display: inline-block;
  margin-right: 0.5rem;
}
.border .panel > div.right {
  text-align: right;
  justify-content: flex-end;
  right: 0;
}
.border .panel > div.right figure {
  margin-top: 5px;
}
.border .panel > div.right button {
  width: 40px;
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: 40px;
}
#PauseMenu {
  visibility: hidden;
  height: 100%;
  width: 100%;
}
#PauseMenu .menu_overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: unset;
  bottom: unset;
  z-index: 100;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#PauseMenu .menu_overlay .menu_container {
  position: relative;
  z-index: 1001;
  min-width: 200px;
  width: 80%;
  max-width: 34.375rem;
  height: 40%;
  max-height: 350px;
  min-height: 250px;
  background-image: url("../img/menu_bg.png");
  background-size: cover;
  border-image: url("../img/menu_border.png");
  align-items: center;
  display: flex;
  border-image-width: 15px;
  border-image-repeat: repeat;
  border-image-slice: 15;
}
#PauseMenu .menu_overlay .menu_container h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  right: unset;
  bottom: unset;
}
#PauseMenu .menu_overlay .menu_container h3 {
  position: absolute;
  bottom: 15px;
  top: unset;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 12px;
}
#PauseMenu .menu_overlay .menu_container h3:first-of-type {
  left: 15px;
  right: unset;
}
#PauseMenu .menu_overlay .menu_container h3:last-of-type {
  left: unset;
  right: 15px;
}
#PauseMenu .menu_overlay .menu_container h3:hover {
  cursor: pointer;
}
#PauseMenu .menu_overlay .menu_container figure {
  width: 100%;
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 0;
  right: unset;
  top: unset;
  text-align: center;
  padding: 0;
}
#PauseMenu .menu_overlay .menu_container figure img {
  margin-bottom: -3px;
}
#PauseMenu .menu_overlay .menu_container .menu_buttons {
  width: 100%;
  text-align: center;
}
#PauseMenu .menu_overlay .menu_container .menu_buttons a button {
  width: 40px;
  margin-right: 1rem;
}
#PauseMenu .menu_overlay .menu_container .menu_buttons a button:hover i {
  color: #9c1b00;
}
#PauseMenu .menu_overlay .menu_container .menu_buttons a:last-of-type button {
  margin-right: 0;
}
#PauseMenu .menu_overlay .menu_container .menu_buttons a i {
  text-align: center;
  color: #10210b;
  vertical-align: middle;
  font-size: 21px;
  line-height: 21px;
  text-shadow: none;
}
#PauseMenu .menu_overlay .menu_container .menu_buttons a i.icon-nikodermus {
  font-size: 16px;
  line-height: 16px;
}
#PowerUpText {
  position: fixed;
  top: 64px;
  left: 64px;
  font-size: 12ppx;
  padding: 1rem;
  z-index: 40;
  text-transform: uppercase;
  font-family: 'doomregular';
}
#PowerUpText.blue {
  color: #0000d3;
}
#PowerUpText.yellow {
  color: #ff5;
}
#PowerUpText.white {
  color: #fff;
}
#PowerUpText.life {
  color: #10210b;
}
#PowerUpText.green {
  color: #6ccf3f;
}
