<figure class="top">
    <img src="/assets/images/pause_icon.png" alt="">
</figure>
<div class="border">
</div>
<div class="border">
</div>
<div class="border">
    <div class="panel">
        <div class="left">
            <img src="/assets/images/lost_soul.gif" alt="">
            <span id="SoulsCount">00
            </span>
        </div>
        <div class="right">
            <figure class="lives" id="LifeCount">
            </figure>
            <button id="PauseGame" class="square">
                <div>II
                </div>
            </button>
        </div>
        <figure>
            <img src="/assets/images/3_lifes.gif" alt="" id="PlayerStatus">
            <img src="" alt="" id="PowerActive">
        </figure>
    </div>
</div>
<div class="border">
</div>
<img src="/assets/images/corner.png" alt="" class="corner">
<img src="/assets/images/corner.png" alt="" class="corner">
<img src="/assets/images/corner.png" alt="" class="corner">
<img src="/assets/images/corner.png" alt="" class="corner">
<div id="CanvasContainer">
</div>
<div id="PauseMenu">
    <div class="menu_overlay">
        <div class="menu_container">
            <h1>Menu
            </h1>
            <div class="menu_buttons">
                <a href="javaScript:void(0);">
                    <button class="square" id="CloseMenu">
                    <div class="square-content">
                        <i class="icon icon-cancel">
                        </i>
                    </div>
                    </button>
                </a>
                <a href="javaScript:void(0);">
                    <button class="square" id="ReloadGame">
                    <div class="square-content">
                        <i class="icon icon-reset">
                        </i>
                    </div>
                    </button>
                </a>
                <a href="https://facebook.com/Nikodermus">
                    <button class="square">
                    <div class="square-content">
                        <i class="icon icon-facebook">
                        </i>
                    </div>
                    </button>
                </a>
                <a href="http://github.com/Nikodermus/catch-and-run-game">
                    <button class="square">
                    <div class="square-content">
                        <i class="icon icon-github">
                        </i>
                    </div>
                    </button>
                </a>
            </div>
            <h3>
                <a href="https://www.idsoftware.com/en-gb" target="_blank">id Software
                </a>
            </h3>
            <h3>
                <a href="http://github.com/Nikodermus" target="_blank">Nikodermus
                </a>
            </h3>
            <figure>
                <img src="/assets/images/menu_img.png" alt="">
            </figure>
        </div>
    </div>
</div>
<div id="PowerUpText">
</div>
<div id="CountDown">
    <span>3
        </span>
</div>
<div id="MainMenu">
    <div class="menu_container">
    <% unless current_user %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <% else %>
        <%= current_user.name %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete , "data-user-id": current_user.id %>
    <% end %>
        <figure>
            <img src="/assets/images/logo.png" alt="">
            <img src="/assets/images/main.gif" alt="">
        </figure>
        <button id="EasyLevel">I'm a baby
                    </button>
        <button id="NormalLevel">Brutal Warrior
                    </button>
        <button id="HardcoreLevel">Hell Overlord
                    </button>
        <div>
            <button>
                        <div class="square-content">
                            <i class="icon icon-facebook">
                            </i>
                        </div>
                    </button>
            <a href="http://nikodermus.media/" target="_blank">
                    <button>
                        <div class="square-content">
                            <i class="icon icon-nikodermus">
                            </i>
                        </div>
                    </button>
                </a>
        </div>
    </div>
</div>
<div id="GameOver">
    <div class="game_container">
        <h1></h1>
        <figure>
            <img src="/assets/images/marine.gif" alt="" id="DeathGif">
        </figure>
        <button id="RestartGame">Restart</button>
        <button id="ReloadWindow">Main Menu</button>

    </div>
</div>