global-reset()

//Variables
vendor-prefixes = webkit moz o ms official mso xv wap khtml apple prince ah hp ro rim tc
$size = 16
$red = #9C1B00
$green_light = #10770B
$green = #10210B
$gold = #AB730F


//Mixins
rem(size)
    return size/$size rem
fullFixed(n){
    background: n
    height 100%
    width 100%
    position fixed
    top 0
    left 0
    right unset
    bottom unset
    z-index 100
    background n
    display flex
    justify-content center
    align-items center
}

no-select()
	user-select none
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none

//Preset
@-ms-viewport
    width device-width

html
    box-sizing border-box
    font-size $size px

*
*:after
*:before
    margin 0
    padding 0
    box-sizing inherit

a
a:visited
a:focus
    text-decoration none
    color inherit
    &:hover
        text-decoration none
        color inherit

body
    font-family 'doomregular',sans-serif
    font-size 1em
    width 100%
    max-width 100vw

h1
h2
h3
h4
h5
h6
    margin 0
    padding 0

img 
    object-fit contain
	no-select()

//Custom Styles
.no-select
	user-select none
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	

html
body
    box-sizing border-box
    width 100%
    height 100%
    background url('../../assets/images/background_3.png')
    background-size 80px 80px
    background-repeat  repeat
    overflow hidden