/*!
    Project Catch & Run X
    Date 08/14/2017
    Author Nicolas M. Pardo
*/


@require 'nib'

html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td
    reset-box-model()
  body
    reset-body()
  ol, ul
    list-style none
  table
    reset-table()
  caption, th, td
    reset-table-cell()
  a img
    border none


//Variables
vendor-prefixes = webkit moz o ms official apple
$size = 16
$red = #9C1B00
$green_light = #10770B
$green = #10210B
$gray = #313131
$light-gray = #8F8F8E
$gold = #AB730F
$i = !important


//Mixins
rem(size)
    return size/$size rem
fullFixed(n)
    background n
    height 100%
    width 100%
    position fixed
    top 0
    left 0
    right unset
    bottom unset
    z-index 100
    background n
    display flex
    justify-content center
    align-items center

	
//Animations
@keyframes show_error 
	0%
		transform translateY(-120%) translateX(-50%)
	50%
		transform translateY(0%) translateX(-50%)
	100%
		transform translateY(0%) translateX(-50%)
		
//Preset
@-ms-viewport
    width device-width

html
    box-sizing border-box
    font-size $size px

*
*::after
*::before
	margin 0
	padding 0
	box-sizing border-box
	outline none $i
	outline-style none
	box-shadow none
	border-color transparent
	user-select none $i
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	&:focus
		outline none $i
		user-select none $i
		-webkit-touch-callout none
		-webkit-user-select none
		-khtml-user-select none
		-moz-user-select none
		-ms-user-select none
a
a:visited
a:focus
    text-decoration none
    color inherit
    &:hover
        text-decoration none
        color inherit

body
    font-size 1em
    width 100%
    max-width 100vw
	overflow-x hidden

img 
    object-fit contain

html
body
	box-sizing border-box
	width 100%
	height 100%
	overflow hidden
	background url('../../assets/images/background_3.png')
	background-size 80px 80px
	background-repeat  repeat
table
	width 100%
	max-width 100%
	border-collapse collapse
	table-layout auto
	


//Global classed
*
h1
h2
h3
h4
h5
h6
p
span
    color $red
    font-family 'doomregular' 	
    text-shadow 1px 2px 0 #000000
	&:focus
	&:active
	&:hover
		outline 0 $i


button.square
    border 0
    border-radius 10px
    position relative
    background url('../../assets/images/button_bg.png')
    box-shadow inset 2px 2px transparent, 2px 2px 0 1px $green
    &:after
        content ''
        padding-bottom 100%
        display block
    > *
        position absolute
        width 100%
        height 100%
        display flex
        justify-content center
        align-items center
        color $green
        opacity .9
    &:hover
        box-shadow inset 2px 2px $green,  2px 2px 0 1px transparent
        cursor pointer
        filter brightness(.7)
        > *
            opacity 1
            color $red

#game_container
	fullFixed(url('../../assets/images/background_3.png'))
	background-size 80px 80px
	background-repeat  repeat


#canvas_container
    width 100%
    height 100%  
    canvas
        background transparent
        position absolute
        top 64px
        left 64px

.corner
    width 64px
    height 64px
    position absolute
    &:nth-of-type(1)
        top 0
        left 0
    &:nth-of-type(2)
        top 0
        right 0
    &:nth-of-type(3)
        bottom 0
        left 0
    &:nth-of-type(4)
        bottom 0
        right 0

 .top
    position absolute
    top 0
    width 100%
    left 0
    bottom unset
    right unset
    z-index 2
    text-align center
    margin auto
    img 
        width 112px
        height auto
        object-fit contain

.border
    position absolute
    background gray
    text-align center
    &:nth-of-type(even)
        width 64px
        height 100%
        top 0
    &:nth-of-type(odd)
        height 64px
        width 100%
        left 0
    &:nth-of-type(1)
        background url('../../assets/images/border-top.png')
        top 0
    &:nth-of-type(2)
        background url('../../assets/images/border-right.png')
        right 0
        background-position center right
    &:nth-of-type(3)
        background url('../../assets/images/border-bottom.png')
        bottom 0
    &:nth-of-type(4)
        background url('../../assets/images/border-left.png')
        left 0
    .panel
        width calc(100% - 140px)
        height 80%
        background url('../../assets/images/panel.png')
        margin auto
        margin-top 6px
        position relative
        z-index 2
        > figure
            width 100%
            height 100%
            display flex
            align-items center
            justify-content center
            position relative
            #player_status
                position relative
                z-index 3
                left 2px
            #power_active
                position absolute
                margin auto
                top 50%
                left 0
                right 0
                transform translateY(-50%)
                z-index 0
                height 70%

        > div
            width 50%
            position absolute
            top 0
            padding 0 1rem
            height 100%
            display flex
            align-items center
            z-index 10
            &.left
                left 0
                text-align left
                font-size 1.5rem
                
                img 
                    display inline-block
                    margin-right .5rem
            &.right
                text-align right
                justify-content flex-end 
                right 0
                figure
                    margin-top 5px
                button
                    width 40px
                    margin-left 1rem
                    font-size 1.6rem
                    line-height 40px


#pause_menu
    visibility hidden
    height 100%
    width 100%
    .menu_overlay
        fullFixed(alpha(black, 0.5))
        .menu_container 
            position relative
            z-index 1001
            min-width 200px
            width 80%
            max-width rem(500)
            height 40%
            max-height 350px
            min-height 250px
            background-image url('../../assets/images/menu_bg.png') 
            background-size cover
            border-image url('../../assets/images/menu_border.png')
            align-items center
            display flex
            border-image-width 15px
            border-image-repeat repeat
            border-image-slice 15
            h1
                text-align center
                text-transform uppercase
                font-size 22px
                padding 2rem
                position absolute
                top 0
                left 0
                width 100%
                right unset 
                bottom unset
            h3
                position absolute
                bottom 15px
                top unset
                padding 1rem
                text-transform uppercase
                font-size 12px
                &:first-of-type
                    left 15px
                    right unset
                &:last-of-type
                    left unset
                    right 15px
                &:hover
                    cursor pointer
            figure
                width 100%
                position absolute
                z-index -2
                bottom 15px
                left 0
                right unset
                top unset 
                text-align center
                padding 0
                img
                    margin-bottom -3px
            .menu_buttons
                width 100%
                text-align center
                a
                    button
                        width 40px
                        margin-right 1rem
                        &:hover
                            i
                                color $red
                    &:last-of-type
                        button
                            margin-right 0
                    i
                        text-align center
                        color $green
                        vertical-align middle
                        font-size 21px
                        line-height 21px
                        text-shadow none
                        &.icon-nikodermus
                            font-size 16px
                            line-height 16px
#power_up_text
    position fixed
    top 64px
    left 64px
    font-size 12px
    padding 1rem
    z-index 40
    text-transform uppercase
    &.blue
        color #0000D3
    &.yellow
        color #FFFF55
    &.white
        color white
    &.life
        color $green_light
    &.green
        color #6CCF3F
#count_down
    font-size 80px
    fullFixed(alpha(black, .4)) 
    z-index 100
#main_menu
	fullFixed(url('../../assets/images/main_bg.png'))
	.btn-container
		absolute top left 
		width 100%
		padding 1rem
		> div
			width 50%
			float left
			&.left
				button
					font-size 1rem
					background $red
					padding .25rem .5rem
					border 0
					color $gray
					text-shadow none
			&.right
				text-align right
				button
					font-size 1.5rem
					background transparent
					border 0
	.menu_content
		max-width rem(1000)
		.logo
			text-align center
			width 100%
			margin-bottom 2rem
			>figure
				display inline-block
				img
					height rem(100)
		>button 
			width 100%
			background transparent 
			border 0
			font-size 1.5rem
			padding .5rem 0
			color $light-gray
			cursor pointer
			&:hover
				color lighten($light-gray, .5)
			&:focus
				outline 0
				border 0
				color white
					

#game_over
    fullFixed(alpha(black, .9))
    visibility hidden
    z-index 99999
    .game_container
        width 300px
        figure
            width 100%
            text-align center
            padding 2rem
        button
            display block
            text-align center
            padding .5rem 1rem   
            text-align center
            margin auto auto 1rem auto
            font-size 21px
            border-radius 10px
            background url('../../assets/images/blood_degrade.png')
            background-size contain
            color white
            border 0
            filter blur(1px)
            &:hover
                filter blur(0)
                cursor pointer
.inline_block
	display inline-block
#close_session
	absolute left 1rem bottom 1rem
	background transparent
	font-size 1.2rem
.error
	fixed top 0 left 50%
	white-space nowrap
	text-align center
	padding 1rem
	color white
	transform translateX(-50%)
	z-index 99999
	background alpha(black, 0.5)
	background-size 128px 128px
	background-repeat  repeat
	overflow hidden
	animation show_error ease 1.5s forwards alternate 2
	max-width 80%
	&::after
		content ''
		absolute left bottom
		display block
		width 100%
		height 60%
		background url('../../assets/images/blood_degrade.png')
		background-size 47px 47px
		background-repeat  repeat
		z-index -1
.content
	padding rem(64)
	.btn_container
		padding 2rem
		>div
			width 50%
			float left
			button
				font-size 1rem
				background $red
				padding .25rem .5rem
				border 0
				color $gray
				text-shadow none
		.right
			text-align right
		.left	
			text-align left
			.user_elem
				*
					display inline-block
	.profile_container
		overflow auto
		padding-top 1rem
		width 70%
		margin auto
		>div
			float left
		.profile_data
			width calc(100% - 130px)
			padding-top 2.5rem
			*
				text-align center
				color white
		.profile_pic
			width rem(130)
			figure
				background url('../../assets/images/button_bg.png')
				padding 10px
				img
					width 100%
	.scores_container
		padding-top 2rem
		height auto
		> div
			width 50%
			float left
			padding 0 1rem
			
		h3
			text-align center
			padding-bottom 1rem
table
	text-transform uppercase
	thead
		font-size rem(12)
		th
			padding 1rem 0
			text-align center
	tbody
		font-size rem(14)
		td, td i
			color white
			text-align center
		td
			padding .5rem 0
		i:hover
			color $red
.fancybox_container
	display none
	&.img
		img
			max-height 80vh
			max-width 80vw
.fancybox
	fullFixed(alpha(black, 0.5))
	display flex
	justify-content center
	align-items center
	z-index 9999
	.fancybox_content
		background url('../../assets/images/main_bg.png')
		width 80%
		max-width rem(600)
		padding 1rem
		position relative
		.close_btn
			absolute top 1rem right 1rem
			color alpha(white, .75)
			background transparent 
			border 0
			font-size 0.7rem
			cursor pointer
		form
			overflow auto
			font-size 0
			.column
				width 50%
				display inline-block
				padding 1rem
				font-size 1rem
			label
			input 
				width 100%
			input
				margin .5rem 0 1rem 0
				border-radius 5px
				box-shadow inset 0 1px 3px 0 rgba(0,0,0,0.50)
				padding .25rem .5rem
				text-shadow none
				&[type="submit"]
					width auto
					background $red
					padding .25rem .5rem
					border 0
					color $gray
					display block
					text-align center
					margin auto
					font-size 1.2rem

			label
				white-space nowrap
.clearfix
	clearfix 
	text-align center
.user_elem
	visibility hidden
	display none

[hidden]
.hidden
	display none
.text-center
	text-align center
	margin auto



