<% @this_user = User.find(params[:id])%>
	<figure class="top">
		<img src="/assets/images/pause_icon.png" alt="">
	</figure>
	<div class="border">
	</div>
	<div class="border">
	</div>
	<div class="border">
		<div class="panel">
			<div class="left">
				<img src="<%%>" alt="">
				<span id="SoulsCount">00
            </span>
			</div>
			<div class="right">

			</div>
			<figure>

			</figure>
		</div>
	</div>
	<div class="border">
	</div>
	<img src="/assets/images/corner.png" alt="" class="corner">
	<img src="/assets/images/corner.png" alt="" class="corner">
	<img src="/assets/images/corner.png" alt="" class="corner">
	<img src="/assets/images/corner.png" alt="" class="corner">

	<div id="ContentContainer">

		<img src="<%= @this_user.img_path %>" alt="">
	</div>