/*
    Project Catch & Run X
    Date 08/14/2017
    Author Nicolas M. Pardo
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
*:focus,
*::after:focus,
*::before:focus {
  outline: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
a,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:visited:hover,
a:focus:hover {
  text-decoration: none;
  color: inherit;
}
body {
  font-size: 1em;
  width: 100%;
  max-width: 100vw;
}
overflow-x hidden,
img {
  object-fit: contain;
}
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../../assets/images/background_3.png");
  -webkit-background-size: 80px 80px;
  -moz-background-size: 80px 80px;
  background-size: 80px 80px;
  background-repeat: repeat;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #9c1b00;
  font-family: 'doomregular';
  text-shadow: 1px 2px 0 #000;
}
:focus:active,
:focus:hover {
  outline: 0 !important;
}
button.square {
  border: 0;
  border-radius: 10px;
  position: relative;
  background: url("../../assets/images/button_bg.png");
  -webkit-box-shadow: inset 2px 2px transparent, 2px 2px 0 1px #10210b;
  box-shadow: inset 2px 2px transparent, 2px 2px 0 1px #10210b;
}
button.square:after {
  content: '';
  padding-bottom: 100%;
  display: block;
}
button.square > * {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -apple-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #10210b;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
button.square:hover {
  -webkit-box-shadow: inset 2px 2px #10210b, 2px 2px 0 1px transparent;
  box-shadow: inset 2px 2px #10210b, 2px 2px 0 1px transparent;
  cursor: pointer;
  filter: brightness(0.7);
}
button.square:hover > * {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #9c1b00;
}
#game_container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  background: url("../../assets/images/background_3.png");
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: unset;
  bottom: unset;
  z-index: 100;
  background: url("../../assets/images/background_3.png");
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -apple-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-background-size: 80px 80px;
  -moz-background-size: 80px 80px;
  background-size: 80px 80px;
  background-repeat: repeat;
}
#canvas_container {
  width: 100%;
  height: 100%;
}
#canvas_container canvas {
  background: transparent;
  position: absolute;
  top: 64px;
  left: 64px;
}
.corner {
  width: 64px;
  height: 64px;
  position: absolute;
}
.corner:nth-of-type(1) {
  top: 0;
  left: 0;
}
.corner:nth-of-type(2) {
  top: 0;
  right: 0;
}
.corner:nth-of-type(3) {
  bottom: 0;
  left: 0;
}
.corner:nth-of-type(4) {
  bottom: 0;
  right: 0;
}
.top {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  bottom: unset;
  right: unset;
  z-index: 2;
  text-align: center;
  margin: auto;
}
.top img {
  width: 112px;
  height: auto;
  object-fit: contain;
}
.border {
  position: absolute;
  background: #808080;
  text-align: center;
}
.border:nth-of-type(even) {
  width: 64px;
  height: 100%;
  top: 0;
}
.border:nth-of-type(odd) {
  height: 64px;
  width: 100%;
  left: 0;
}
.border:nth-of-type(1) {
  background: url("../../assets/images/border-top.png");
  top: 0;
}
.border:nth-of-type(2) {
  background: url("../../assets/images/border-right.png");
  right: 0;
  background-position: center right;
}
.border:nth-of-type(3) {
  background: url("../../assets/images/border-bottom.png");
  bottom: 0;
}
.border:nth-of-type(4) {
  background: url("../../assets/images/border-left.png");
  left: 0;
}
.border .panel {
  width: calc(100% - 140px);
  height: 80%;
  background: url("../../assets/images/panel.png");
  margin: auto;
  margin-top: 6px;
  position: relative;
  z-index: 2;
}
.border .panel > figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -apple-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
.border .panel > figure #player_status {
  position: relative;
  z-index: 3;
  left: 2px;
}
.border .panel > figure #power_active {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -apple-transform: translateY(-50%);
  z-index: 0;
  height: 70%;
}
.border .panel > div {
  width: 50%;
  position: absolute;
  top: 0;
  padding: 0 1rem;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 10;
}
.border .panel > div.left {
  left: 0;
  text-align: left;
  font-size: 1.5rem;
}
.border .panel > div.left img {
  display: inline-block;
  margin-right: 0.5rem;
}
.border .panel > div.right {
  text-align: right;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -apple-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  right: 0;
}
.border .panel > div.right figure {
  margin-top: 5px;
}
.border .panel > div.right button {
  width: 40px;
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: 40px;
}
#pause_menu {
  visibility: hidden;
  height: 100%;
  width: 100%;
}
#pause_menu .menu_overlay {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: unset;
  bottom: unset;
  z-index: 100;
  background: rgba(0,0,0,0.5);
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -apple-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#pause_menu .menu_overlay .menu_container {
  position: relative;
  z-index: 1001;
  min-width: 200px;
  width: 80%;
  max-width: 31.25rem;
  height: 40%;
  max-height: 350px;
  min-height: 250px;
  background-image: url("../../assets/images/menu_bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-border-image: url("../../assets/images/menu_border.png");
  -moz-border-image: url("../../assets/images/menu_border.png");
  -o-border-image: url("../../assets/images/menu_border.png");
  border-image: url("../../assets/images/menu_border.png");
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  border-image-width: 15px;
  border-image-repeat: repeat;
  border-image-slice: 15;
}
#pause_menu .menu_overlay .menu_container h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  right: unset;
  bottom: unset;
}
#pause_menu .menu_overlay .menu_container h3 {
  position: absolute;
  bottom: 15px;
  top: unset;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 12px;
}
#pause_menu .menu_overlay .menu_container h3:first-of-type {
  left: 15px;
  right: unset;
}
#pause_menu .menu_overlay .menu_container h3:last-of-type {
  left: unset;
  right: 15px;
}
#pause_menu .menu_overlay .menu_container h3:hover {
  cursor: pointer;
}
#pause_menu .menu_overlay .menu_container figure {
  width: 100%;
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 0;
  right: unset;
  top: unset;
  text-align: center;
  padding: 0;
}
#pause_menu .menu_overlay .menu_container figure img {
  margin-bottom: -3px;
}
#pause_menu .menu_overlay .menu_container .menu_buttons {
  width: 100%;
  text-align: center;
}
#pause_menu .menu_overlay .menu_container .menu_buttons a button {
  width: 40px;
  margin-right: 1rem;
}
#pause_menu .menu_overlay .menu_container .menu_buttons a button:hover i {
  color: #9c1b00;
}
#pause_menu .menu_overlay .menu_container .menu_buttons a:last-of-type button {
  margin-right: 0;
}
#pause_menu .menu_overlay .menu_container .menu_buttons a i {
  text-align: center;
  color: #10210b;
  vertical-align: middle;
  font-size: 21px;
  line-height: 21px;
  text-shadow: none;
}
#pause_menu .menu_overlay .menu_container .menu_buttons a i.icon-nikodermus {
  font-size: 16px;
  line-height: 16px;
}
#power_up_text {
  position: fixed;
  top: 64px;
  left: 64px;
  font-size: 12px;
  padding: 1rem;
  z-index: 40;
  text-transform: uppercase;
}
#power_up_text.blue {
  color: #0000d3;
}
#power_up_text.yellow {
  color: #ff5;
}
#power_up_text.white {
  color: #fff;
}
#power_up_text.life {
  color: #10770b;
}
#power_up_text.green {
  color: #6ccf3f;
}
#count_down {
  font-size: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  background: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: unset;
  bottom: unset;
  z-index: 100;
  background: rgba(0,0,0,0.4);
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -apple-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 100;
}
#main_menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  background: url("../../assets/images/main_bg.png");
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: unset;
  bottom: unset;
  z-index: 100;
  background: url("../../assets/images/main_bg.png");
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -apple-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#main_menu .btn-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}
#main_menu .btn-container > div {
  width: 50%;
  float: left;
}
#main_menu .btn-container > div.left button {
  font-size: 1rem;
  background: #9c1b00;
  padding: 0.25rem 0.5rem;
  border: 0;
  color: #313131;
  text-shadow: none;
}
#main_menu .btn-container > div.right {
  text-align: right;
}
#main_menu .btn-container > div.right button {
  font-size: 1.5rem;
  background: transparent;
  border: 0;
}
#main_menu .menu_content {
  max-width: 62.5rem;
}
#main_menu .menu_content .logo {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}
#main_menu .menu_content .logo >figure {
  display: inline-block;
}
#main_menu .menu_content .logo >figure img {
  height: 6.25rem;
}
#main_menu .menu_content >button {
  width: 100%;
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #8f8f8e;
  cursor: pointer;
}
#main_menu .menu_content >button:hover {
  color: #90908f;
}
#main_menu .menu_content >button:focus {
  outline: 0;
  border: 0;
  color: #fff;
}
#game_over {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  background: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: unset;
  bottom: unset;
  z-index: 100;
  background: rgba(0,0,0,0.9);
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -apple-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  visibility: hidden;
  z-index: 99999;
}
#game_over .game_container {
  width: 300px;
}
#game_over .game_container figure {
  width: 100%;
  text-align: center;
  padding: 2rem;
}
#game_over .game_container button {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: auto auto 1rem auto;
  font-size: 21px;
  border-radius: 10px;
  background: url("../../assets/images/blood_degrade.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  color: #fff;
  border: 0;
  filter: blur(1px);
}
#game_over .game_container button:hover {
  filter: blur(0);
  cursor: pointer;
}
.inline_block {
  display: inline-block;
}
#close_session {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  background: transparent;
  font-size: 1.2rem;
}
.error {
  position: fixed;
  top: 0;
  left: 50%;
  white-space: nowrap;
  text-align: center;
  padding: 1rem;
  color: #fff;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -apple-transform: translateX(-50%);
  z-index: 99999;
  background: rgba(0,0,0,0.5);
  -webkit-background-size: 128px 128px;
  -moz-background-size: 128px 128px;
  background-size: 128px 128px;
  background-repeat: repeat;
  overflow: hidden;
  -webkit-animation: show_error ease 1.5s forwards alternate 2;
  -moz-animation: show_error ease 1.5s forwards alternate 2;
  -o-animation: show_error ease 1.5s forwards alternate 2;
  -ms-animation: show_error ease 1.5s forwards alternate 2;
  animation: show_error ease 1.5s forwards alternate 2;
  -apple-animation: show_error ease 1.5s forwards alternate 2;
  max-width: 80%;
}
.error::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 60%;
  background: url("../../assets/images/blood_degrade.png");
  -webkit-background-size: 47px 47px;
  -moz-background-size: 47px 47px;
  background-size: 47px 47px;
  background-repeat: repeat;
  z-index: -1;
}
.content {
  padding: 4rem;
}
.content .btn_container {
  padding: 2rem;
}
.content .btn_container >div {
  width: 50%;
  float: left;
}
.content .btn_container >div button {
  font-size: 1rem;
  background: #9c1b00;
  padding: 0.25rem 0.5rem;
  border: 0;
  color: #313131;
  text-shadow: none;
}
.content .btn_container .right {
  text-align: right;
}
.content .btn_container .left {
  text-align: left;
}
.content .btn_container .left .user_elem * {
  display: inline-block;
}
.content .profile_container {
  overflow: auto;
  padding-top: 1rem;
  width: 70%;
  margin: auto;
}
.content .profile_container >div {
  float: left;
}
.content .profile_container .profile_data {
  width: calc(100% - 130px);
  padding-top: 2.5rem;
}
.content .profile_container .profile_data * {
  text-align: center;
  color: #fff;
}
.content .profile_container .profile_pic {
  width: 8.125rem;
}
.content .profile_container .profile_pic figure {
  background: url("../../assets/images/button_bg.png");
  padding: 10px;
}
.content .profile_container .profile_pic figure img {
  width: 100%;
}
.content .scores_container {
  padding-top: 2rem;
  height: auto;
}
.content .scores_container > div {
  width: 50%;
  float: left;
  padding: 0 1rem;
}
.content .scores_container h3 {
  text-align: center;
  padding-bottom: 1rem;
}
table {
  text-transform: uppercase;
}
table thead {
  font-size: 0.75rem;
}
table thead th {
  padding: 1rem 0;
  text-align: center;
}
table tbody {
  font-size: 0.875rem;
}
table tbody td,
table tbody td i {
  color: #fff;
  text-align: center;
}
table tbody td {
  padding: 0.5rem 0;
}
table tbody i:hover {
  color: #9c1b00;
}
.fancybox_container {
  display: none;
}
.fancybox_container.img img {
  max-height: 80vh;
  max-width: 80vw;
}
.fancybox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: unset;
  bottom: unset;
  z-index: 100;
  background: rgba(0,0,0,0.5);
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -apple-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -apple-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -apple-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 9999;
}
.fancybox .fancybox_content {
  background: url("../../assets/images/main_bg.png");
  width: 80%;
  max-width: 37.5rem;
  padding: 1rem;
  position: relative;
}
.fancybox .fancybox_content .close_btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgba(255,255,255,0.75);
  background: transparent;
  border: 0;
  font-size: 0.7rem;
  cursor: pointer;
}
.fancybox .fancybox_content form {
  overflow: auto;
  font-size: 0;
}
.fancybox .fancybox_content form .column {
  width: 50%;
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
}
.fancybox .fancybox_content form label,
.fancybox .fancybox_content form input {
  width: 100%;
}
.fancybox .fancybox_content form input {
  margin: 0.5rem 0 1rem 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
  padding: 0.25rem 0.5rem;
  text-shadow: none;
}
.fancybox .fancybox_content form input[type="submit"] {
  width: auto;
  background: #9c1b00;
  padding: 0.25rem 0.5rem;
  border: 0;
  color: #313131;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
}
.fancybox .fancybox_content form label {
  white-space: nowrap;
}
.clearfix {
  text-align: center;
}
.user_elem {
  visibility: hidden;
  display: none;
}
[hidden],
.hidden {
  display: none;
}
.text-center {
  text-align: center;
  margin: auto;
}
@-moz-keyframes show_error {
  0% {
    -webkit-transform: translateY(-120%) translateX(-50%);
    -moz-transform: translateY(-120%) translateX(-50%);
    -o-transform: translateY(-120%) translateX(-50%);
    -ms-transform: translateY(-120%) translateX(-50%);
    transform: translateY(-120%) translateX(-50%);
    -apple-transform: translateY(-120%) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
    -apple-transform: translateY(0%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
    -apple-transform: translateY(0%) translateX(-50%);
  }
}
@-webkit-keyframes show_error {
  0% {
    -webkit-transform: translateY(-120%) translateX(-50%);
    -moz-transform: translateY(-120%) translateX(-50%);
    -o-transform: translateY(-120%) translateX(-50%);
    -ms-transform: translateY(-120%) translateX(-50%);
    transform: translateY(-120%) translateX(-50%);
    -apple-transform: translateY(-120%) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
    -apple-transform: translateY(0%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
    -apple-transform: translateY(0%) translateX(-50%);
  }
}
@-o-keyframes show_error {
  0% {
    -webkit-transform: translateY(-120%) translateX(-50%);
    -moz-transform: translateY(-120%) translateX(-50%);
    -o-transform: translateY(-120%) translateX(-50%);
    -ms-transform: translateY(-120%) translateX(-50%);
    transform: translateY(-120%) translateX(-50%);
    -apple-transform: translateY(-120%) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
    -apple-transform: translateY(0%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
    -apple-transform: translateY(0%) translateX(-50%);
  }
}
@keyframes show_error {
  0% {
    -webkit-transform: translateY(-120%) translateX(-50%);
    -moz-transform: translateY(-120%) translateX(-50%);
    -o-transform: translateY(-120%) translateX(-50%);
    -ms-transform: translateY(-120%) translateX(-50%);
    transform: translateY(-120%) translateX(-50%);
    -apple-transform: translateY(-120%) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
    -apple-transform: translateY(0%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
    -apple-transform: translateY(0%) translateX(-50%);
  }
}
